.horizontal-scrollbar {
  display: flex;
  height: fit-content;
  width: 340px;
  overflow-x: auto;
}

/* For Chrome, Safari, and newer versions of Edge */
.hide-scrollbar {
  display: hidden;
  scrollbar-width: 0px;
  overflow-y: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a2244; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 45, 45); /* Color of the scrollbar handle */
  border-radius: 8px; /* Border radius for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 42); /* Color of the scrollbar handle on hover */
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #2d3748;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

.carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.carousel::after {
  content: "";
  position: absolute;
  height: 30%;
  width: 30%;
  background: transparent;
  opacity: 0.50;
  z-index: 1;
}
.carousel .carousel .control-dots {
  z-index: 10;
}
